<h2>Nova Vaga</h2>
<form action="/estacionamento/novo" method="POST">
  <label>Veiculo:</label><input type="text" name="veiculo" required>
  <label>placa:</label><input type="text" name="placa" required>
  <button type="submit">Salvar</button>
</form>