<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Hotel Manager</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="titulo">
    <h1>Gestão Hotel</h1>
    </div>
    <nav>
      <a href="/">Início</a>
      <a href="/reservas">Reservas</a>
      <a href="/produtos">Produtos</a>
      <a href="/relatorios">Relatórios</a>
      <a href="/estacionamento"estacionamento></a>
    </nav>
  </header>
  <main>
    {{{body}}}
    
  </main>
</body>
</html>
