<form action="/reservas/novo" method="POST" class="form-inline">
  <input name="nome" placeholder="Nome do hóspede" required>
  <input name="quarto" placeholder="Nº do quarto" required>
  <input name="dias" placeholder="Dias de estadia" type="number" required>
  <input name="tipo" placeholder="Tipo de Quarto" required>
  <button type="submit">Adicionar</button>
</form>
