body {
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  color: #2f4858;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(imagens/imagemhotelgenerica-fotor-2025111985631.jpg); 
  background-size: cover;
  background-position:center ;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #d4af37;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

main {
  max-width: 90%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  background-color: #d4af37;
  border: none;
  color: #2f4858;
  font-weight: bold;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #c19b2e;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
